<h1>Talk to your coach</h1>
<form action="/answer" method='get'>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question_asked" placeholder="Whats up?">
  <input type="submit" value="Go on!">
</form>


<!-- -->
